.Main{
    text-align: center;
}

.main_button{
    margin: 5px;
}

.main-button__login{
    width: 84.15px;
}

.failure_block{
    color: red;
}

.success_block{
    color: green;
}

li{
    padding: 5px;
    display: inline;
}

.btn{
    padding: 50%;
}